@import 'core/variables';
@import 'core/functions';
@import 'core/reset';
@import 'core/mixins';

.App {
  background-color: $mainBg;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo {
  margin: auto;
  width: 60vw;
  @include tablet {
    width: 40vw;
  }
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.msg {
  color: $amarillo;
  font-family: $secondaryText;
}
.input {
  border: $caca 2px solid;
  border-radius: 8px;
  background-color: $mainBg;
  width: 60vw;
  height: 25px;
  font-size: 12px;
  color: $verde;
  margin: 40px;
  @include tablet {
    width: 40vw;
  }
}

.cardList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;

  &__img {
    width: 48vw;
    @include tablet {
      width: auto;
    }
  }
  &__container {
    font-family: $fontText;
    width: 48vw;
    @include tablet {
      width: auto;
    }
    background-color: $verde;
    padding: 8px;
  }
  &__name {
    font-size: 16px;
    color: $dark;
  }
}
.icon {
  @include icon;
  &--status {
    @include icon {
      background-color: $verde;
      color: black;
    }
  }
}


.detailWrapper {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.detailLink {
  width: auto;
  font-size: 20px;
  font-family: $secondaryText;
  color: $azul;
  text-decoration: underline;
  margin-bottom: 12px;
}

.detailCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  border: 10px $rosa outset;
  border-radius: 20px;
  background-color: $rosa;
  &__sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }

  &__img {
    width: 40vw;
    padding: 10px;
    border-radius: 50%;
    @include tablet {
      width: auto;
      padding: 30px;
    }
    @include desktop {
      width: auto;
      padding: 60px;
    }
  }

  &__name {
    font-family: $fontText;
    font-size: 16px;
    @include tablet {
      font-size: 18px;
    }
    @include tablet {
      font-size: 20px;
    }
  }

  &__list {
    font-family: $fontText;
    padding-right: 10px;
    font-size: 12px;
    text-decoration: none;
    list-style: none;
    @include tablet {
      font-size: 14px;
    }
    @include tablet {
      font-size: 16px;
    }
  }

}

