@import 'core/variables';
@import 'core/functions';
@import 'core/reset';
@import 'core/mixins';

.App {
  background-color: $mainBg;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo {
  margin: auto;
  width: 50vw;
  @include tablet {
    width: 40vw;
  }
  @include desktop {
    width: 30vw;
  }
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.msg {
  color: $iconColor;
  font-family: $secondaryText;
}
.input {
  border: $secondaryColor rem(2) solid;
  border-radius: rem(8);
  background-color: $mainBg;
  width: 50vw;
  height: rem(25);
  font-size: rem(12);
  color: $secondBg;
  margin: rem(40);
  @include tablet {
    width: 40vw;
    height: rem(35);
    font-size: rem(20);
  }
  @include desktop {
    width: 30vw;
  }
}

.cardList {
  background-color: $mainBg;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: rem(10);
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: auto;
  }
  @include desktop {
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: auto;
  @include tablet {
    width: 30vw;
  }
  @include desktop {
    width: 25vw;
  }

  &__container {
    background-color: $secondBg;
    padding: rem(8);
    height: rem(200);
    @include tablet {
      padding: 16px;
    }
    @include desktop {
      padding: rem(20);
    }
  }
  &__name {
    font-family: $fontText;
    font-size: rem(12);
    color: $fontColor;
    @include tablet {
      font-size: rem(16);
    }
    @include desktop {
      font-size: rem(24);
    }
  }
}
.icon {
  @include icon;
  &--status {
    @include icon {
      background-color: $secondBg;
      color: $mainBg;
      padding-left: rem(12);
    }
  }
}

.detailWrapper {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.detailLink {
  width: auto;
  font-size: rem(16);
  font-family: $secondaryText;
  color: $secondBg;
  text-decoration: underline;
  margin-bottom: rem(12);
  &--arrow {
    margin-right: rem(3);
    color: $iconColor;
  }
  @include tablet {
    font-size: rem(20);
  }
}

.detailCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  border-radius: 50%;
  background-image: './portal.jpg';

  &__sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__img {
    width: 40vw;
    padding: rem(10);
    border-radius: 50%;
    @include tablet {
      width: auto;
      padding: rem(30);
    }
    @include desktop {
      width: auto;
      padding: rem(60);
    }
  }
  &__name {
    font-family: $fontText;
    color: $fontColorSecondary;
    font-size: rem(16);
    @include tablet {
      font-size: rem(18);
    }
    @include tablet {
      font-size: rem(20);
    }
  }
  &__list {
    font-family: $fontText;
    color: $secondaryColor;
    padding-right: rem(20);
    font-size: rem(12);
    text-decoration: none;
    list-style: none;
    @include tablet {
      font-size: rem(14);
    }
    @include tablet {
      font-size: rem(16);
    }
  }
}
