* {
  background-color: beige;
  box-sizing: border-box;
  margin: none;
  padding: none;
  list-style: none;
}

.btn {
  border-radius: 12px;
  font-size: 20px;
  border: none;
  background-color: indianred;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  cursor: pointer;
}

.title {
  color: darkslategrey;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
