// fonts
$defaultFontSize: 16;
$fontText: 'Gloria Hallelujah', cursive;
$secondaryText: 'Lacquer', cursive;

// colors
$mainBg: black;
$fontColorSecondary: #F675DA;
$iconColor: #FFF874;
$fontColor: #44281d;
$secondaryColor: #F8D3AC;
$secondBg: #01B4C6;




