// fonts
$defaultFontSize: 16;
$fontText: 'Gloria Hallelujah', cursive;
$secondaryText: 'Lacquer', cursive;

// colors
$mainBg: black;
$verde: #97ce4c;
$rosa: #F675DA;
$amarillo: #FFF874;
$marron: #44281d;
$caca: #F8D3AC;
$azul: #01B4C6;
$dark: #3a4767;
$red: #E64358;



